<!-- p id="notice"><%#= notice %></p -->

<h1>The Daily Paprazzi</h1>
<h2><%= @picture.title %></h2>
 
  <%= image_tag @picture.pict_file_url, :class => 'big-image' %>



<%#= link_to 'Edit', edit_picture_path(@picture) %><!--  | -->
<%#= link_to 'Back', pictures_path %>
