<!-- p id="notice"><%#= notice %></p -->

<div class="h1bg" style=""><h1><em>The Daily Paparazzi</em></h1></div>
<h2><%#= @picture.title %></h2>
 
  <%#= image_tag @picture.pict_file_url, :class => 'big-image' %>



 



<%#= link_to 'Edit', edit_picture_path(@picture) %><!--  | -->
<%#= link_to 'Back', pictures_path %>


<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
  	<% @pictures.each do |picture| %>
<h3 style="display:block;position:absolute;z-index:5000;"><%= picture.title %></h3>
    <div class="item <%#= item_first %>">
<h3 style="display:block;position:absolute;z-index:5000;"><%= picture.title %></h3>
    	<div class="h2bg"><h2><%#= picture.title %></h2></div>
      <%= image_tag picture.pict_file_url, :class => 'big-image' %></div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
